.about {
  background-color: var(--color-black);
}

.page-about {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 80rem;
  background-position: right bottom;
  background-attachment: fixed;
}

.about-animated__text {
  position: relative;
  width: 100vw;
  height: 85vh;
  color: white;
  font-size: 6rem;
  text-align: center;
  font-family: 'Roboto Light';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stuff-about-me {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.animation-about {
  /* width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  background-attachment: fixed; */
  animation-name: MOVE-BG;
  animation-duration: 1s;
  animation-timing-function:  ease-in-out;
  animation-fill-mode: forwards;
}

.bold-colored {
  border-bottom:solid  .5rem var(--color-blue);
}

.colored {
  color: var(--color-blue);
}

.page-about__overlay {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: row;
  align-self: center;
  top: 0;
  color: white;
  font-size: 5rem;
  text-align: left;
  letter-spacing: .3rem;
  font-family: 'Roboto Light';
  z-index: 100;
}

.about-header__text {
  width: 60vw;
  line-height: 140%;
  align-self: center;
}

.link-to-out:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

@-webkit-keyframes MOVE-BG {
	from {
    opacity: 1;
	}
	to {
    opacity: 0;
	}
}
