/* EVERYTHING IN WIDTH */

@media (width <= 1400px) {
  .content-summary__image img {
    width: 35vw;
    padding-top: 17rem;
    margin-left: 4rem;
  }
}


@media (width <= 1160px) {
  .content_header {
    flex-direction: column;
  }

  .content-summary {
    margin-top: 5rem;
  }

  .content_header {
    align-self: center;
    text-align: center;
  }

  .content-summary__image img {
    padding-top: 3rem;
    margin: 0 auto;
  }

  .content-info {
    width: 70vw;
    padding-right: 0;
  }

  .content-title  {
    margin: 0;
  }

  .work-frame__indicator-p {
    font-size: 3.5rem;
  }
}

@media (width <= 750px) {
  .content-info {
    flex-direction: column;
    padding-top: 5rem;
  }

  .content-info__title {
    font-size: 2rem;
  }

  .content-info__body {
    font-size: 1.6rem;
  }

  .content-info__role {
    padding-top: 2rem;
  }

  .work-frame__indicator-p {
    font-size: 2.4rem;
    margin-left: -10rem;
  }

  .slash {
    width: 3rem;
  }
}



@media (width <= 600px) {
  .content-info {
    flex-direction: column;
    padding-top: 5rem;
  }

  .content-summary {
    width: 32rem;
    padding-top: 4rem;
    margin: 0 auto;
  }
}


/* EVERYTHING IN HEIGHT */

@media (height <= 725px) {
  .content-summary {
    margin-top: 2rem;
  }
  .content-summary__image-style {
    margin-top: 5rem;
  }
}

@media (height <= 665px && width <= 1200px) {
  .content-summary__image-style {
    margin-top: 5rem;
  }
}
