.section-other {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.other-element {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.other-element video {
  width: 30rem;
}
