@import 'reset';
@import 'vars';
@import 'layout';
@import 'page-home';
@import 'page-work';
@import 'about';
@import 'other';
@import 'mediaqueries';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
}

.hide {
  visibility: hidden;
}

.circle-mouse {
  transform: translateY(0);
}

.social_icon {
  width: 2rem;
  padding: 1rem 3rem;
  height: auto;
}

.social_footer {
  background-color: white;
  height: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.social_footer_alt {
  margin-top: 4vh;
  background-color: black;
  height: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.social_icon_alt {
  width: 2rem;
  padding: 1rem 3rem;
  height: auto;
}
