@import 'reset';
@import 'vars';
@import 'layout';
@import 'page-home';
@import 'page-work';
@import 'about';
@import 'other';
@import 'mediaqueries';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
}

.hide {
  visibility: hidden;
}

.circle-mouse {
  transform: translateY(0);
}
